POSTGRES_DB=mcpt
POSTGRES_USER=mcpt_user
POSTGRES_PASSWORD=mcpt_password
POSTGRES_PORT=5432

API_GATEWAY_PORT=8000
METADATA_SERVICE_PORT=8001
TRACKING_SERVICE_PORT=8002
FRONTEND_PORT=3000

METADATA_SERVICE_URL=http://metadata-service:8000
TRACKING_SERVICE_URL=http://tracking-service:8000
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8000

TRACKING_USE_MOCK=true
